{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
<div id="index-content">
    <p><span class="bold">Alex P. Gates</span> is a <span class="bold">web developer</span>, <span class="bold">strategist</span>, and <span class="bold">technophile</span> based in Omaha, Nebraska.</p>

    <p>Alex is the community developer at <a href="http://packdog.com">Pack</a>. That means he's constantly developing new campaigns, theories, email, and software for engaging Pack’s members and visitors. It’s a great combination of technology and humanity. Most recently, he’s proudest of the work he's done on building a custom newsletter app for sending over 1M newsletters via Pack.</p>

    <p>As a partner at <a href="http://whatcheer.com">What&nbsp;Cheer</a>, Alex was all these things at once: web developer, strategist, business developer, and project manager on projects for <span class="muted">MindMixer</span>, <span class="muted">The US Department of Energy</span>, <span class="muted">Silicon Prairie News</span>, <span class="muted">Union Pacific Railroad</span>, <span class="muted">Saddle Creek Records</span>, <span class="muted">Woodmen of the World</span>, and  <span class="muted">Post Punk Kitchen</span>. He also worked on What&nbsp;Cheer's own projects, <a href="http://iliveinomaha.com/hotorcold/">Hot or Cold</a>, <a href="http://bumblephone.com/">Bumble</a>, <a href="http://peprallyapp.com/">Pep Rally</a>, <a href="http://iliveinomaha.com">I Live in Omaha</a>, and <a href="http://selectiveperspectivedetectiveobjective.com/">Selective Perspective Detective Objective</a>.</p>

    <p>Alex is a two-time <span class="muted">Startup Weekend Omaha</span> winner, president of <a href="http://edison-pta.org">Edison Elementary PTA</a>, and serves on the board for <a href="http://www.businesshorizonsiowa.org/">Iowa Business Horizons</a>, a week-long summer program for high school students who want to learn about entrepreneurship and business.</p>

    <h4 id="latest-posts">Latest Blog Posts:</h4>
    <hr>
    <ul>
        {% for article in articles_page.object_list[:3] %}
        <li>
            <h2 class="article-title"><a class="latest" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
            <h5 class="results-date">{{ article.date|strftime('%b&nbsp;%Y') }}</h5>
            {{ article.summary }}
            <hr>
        </li>
        {% if loop.last %}
    </ul>
        {% endif %}
        {% endfor %}
        <div class="text-right"><a id="archive-link" href="{{ARCHIVES_URL}}">Blog Archives <i class="fa fa-arrow-circle-right"></i></a></div>
</div>
{% endblock content %}
