{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
<div id="index-content">
    <p><span class="bold">Alex P. Gates</span> is a <span class="bold">web developer</span>, <span class="bold">strategist</span>, and <span class="bold">technophile</span> based in Omaha, Nebraska.</p>
    <p>As a partner at <a href="http://whatcheer.com">What&nbsp;Cheer</a>, Alex acted as developer, strategist, and project manager on projects for <span class="muted">Union Pacific Railroad</span>, <span class="muted">Saddle Creek Records</span>, <span class="muted">Woodmen of the World</span>, <span class="muted">MindMixer</span>, <span class="muted">Post Punk Kitchen</span>, <span class="muted">Silicon Prairie News</span>, <span class="muted">The US Department of Energy</span>, and What&nbsp;Cheer's own projects, <a href="http://iliveinomaha.com/hotorcold/">Hot or Cold</a>, <a href="http://bumblephone.com/">Bumble</a>, <a href="http://peprallyapp.com/">Pep Rally</a>, <a href="http://iliveinomaha.com">I Live in Omaha</a>, and <a href="http://selectiveperspectivedetectiveobjective.com/">Selective Perspective Detective Objective</a>.</p>
    
    <p>At <a href="http://packdog.com">Pack</a>, Alex is building a sophisticated email platform and oversees a community of over fifty Pack Leaders who curate highly engaging breed-specific newsletters every week.</p>

    <p>He's also a two-time <span class="muted">Startup Weekend Omaha</span> winner, president of <a href="http://edison-pta.org">Edison Elementary PTA</a> and serves on the board for <a href="http://www.businesshorizonsiowa.org/">Iowa Business Horizons</a>, a weeklong summer program for high school students who want to learn about entrepreneurship and business.</p>

<!--     <p>Alex is very passionate about the web and technology. His developer background, desire for elegant and consistent user experiences, and years of experience working with the very best in the industry makes him a unique fit to help a team become successful. Please <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#108;&#101;&#120;&#64;&#119;&#104;&#97;&#116;&#99;&#104;&#101;&#101;&#114;&#46;&#99;&#111;&#109;">drop him an email</a> if you want to chat about your next project.</p> -->
    <hr>
    {% block result_title %}<h4 id="latest-posts">Latest Blog Posts:</h4>{% endblock %}
    <ul>
        {% for article in articles_page.object_list %}
            {% if loop.index <= 3 %} 
        <li>
            <h2 class="article-title"><a class="latest" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
            <h5 class="results-date">{{ article.date|strftime('%b&nbsp;%Y') }}</h5>
            {{ article.summary }}
            <hr>
        </li>
            {% endif %}
        {% if loop.last %}
    </ul>
        {% endif %}
        {% endfor %}
        <div class="text-right"><a id="archive-link" href="{{ARCHIVES_SAVE_AS}}">Blog Archives <i class="fa fa-arrow-circle-right"></i></a></div>
</div>
{% endblock content %}
